# Creación de diferentes esquemas reducidos de la BBDD

Mediante el presente Notebook se busca confeccionar diferentes esquemas reducidos para facilitar el uso de la tablas que nos sean de interes para nuestro sistema agéntico de NL2SQL.

## Librerías

In [1]:
import os
import sys
from pathlib import Path
import pandas as pd

notebook_dir = os.getcwd() 
project_root = os.path.abspath(os.path.join(notebook_dir, '..'))
sys.path.append(project_root)

from src.pg_sql import get_create_table_as, execute_commands, execute_query

pd.set_option('display.max_columns', None)

## Creación de esquemas

### Esquema de Tabla Plana (Flat Table)

Para crear este esquema, utilizaremos el script almacenado en el fichero `/data/database/postgres/reduced_schemas/flat_table/flat_table.sql`. Adicionalmente, debemos ejecutar algunos comandos previos para asegurarnos la existencia de un nuevo esquema en blanco.

In [2]:
FLAT_TABLE_SCHEMA = 'flat_table'
FLAT_TABLE_NAME = 'full_sales_data'
FLAT_TABLE_QUERY_PATH = '../data/database/postgres/reduced_schemas/flat_table/flat_table.sql'

commands_flat_table = []
commands_flat_table.append(f'DROP SCHEMA IF EXISTS {FLAT_TABLE_SCHEMA} CASCADE;')
commands_flat_table.append(f'CREATE SCHEMA {FLAT_TABLE_SCHEMA};')

flat_table_query = Path(FLAT_TABLE_QUERY_PATH).read_text()
commands_flat_table.append(get_create_table_as(flat_table_query, FLAT_TABLE_SCHEMA, FLAT_TABLE_NAME))

execute_commands(commands_flat_table, port=5432)

query_resulst = execute_query(
    f'SELECT * FROM {FLAT_TABLE_SCHEMA}.{FLAT_TABLE_NAME} LIMIT 10',
    port=5432
)

display(pd.DataFrame(query_resulst))

The following command was executed sucessfully:
DROP SCHEMA IF EXISTS flat_table CASCADE;

The following command was executed sucessfully:
CREATE SCHEMA flat_table;

The following command was executed sucessfully:
CREATE TABLE flat_table.full_sales_data AS (
WITH
    all_sales AS (
        (
            SELECT
                product_key,
                -- order_date_key,
                -- due_date_key,
                -- ship_date_key,
                NULL AS reseller_key,
                NULL AS employee_key,
                customer_key,
                promotion_key,
                -- currency_key,
                sales_territory_key,
                sales_order_number,
                sales_order_line_number,
                -- revision_number,
                order_quantity,
                unit_price,
                extended_amount,
                unit_price_discount_pct,
                discount_amount,
                product_standard_cost,
                total_product_cost,
                sales_amount,
                tax_amt,
                freight,
                -- carrier_tracking_number,
                -- customer_po_number,
                order_date,
                due_date,
                ship_date,
                'internet_sale' AS sale_source
            FROM adventure_works.fact_internet_sales
        )

        UNION

        (
            SELECT
                product_key,
                -- order_date_key,
                -- due_date_key,
                -- ship_date_key,
                reseller_key,
                employee_key,
                NULL AS customer_key,
                promotion_key,
                -- currency_key,
                sales_territory_key,
                sales_order_number,
                sales_order_line_number,
                -- revision_number,
                order_quantity,
                unit_price,
                extended_amount,
                unit_price_discount_pct,
                discount_amount,
                product_standard_cost,
                total_product_cost,
                sales_amount,
                tax_amt,
                freight,
                -- carrier_tracking_number,
                -- customer_po_number,
                order_date,
                due_date,
                ship_date,
                'reseller_sales' AS sale_source
            FROM adventure_works.fact_reseller_sales
        )
    ),

    years_dif AS (
        SELECT
            (EXTRACT(YEAR FROM CURRENT_DATE) - EXTRACT(YEAR FROM MAX(order_date))) + 1 AS years_difference

        FROM
            all_sales
    )



SELECT
    -- SALES fields
    f.sale_source,
    f.sales_order_number,
    f.sales_order_line_number,
    f.order_quantity,
    f.unit_price,
    f.extended_amount,
    f.unit_price_discount_pct,
    f.discount_amount,
    f.product_standard_cost,
    f.total_product_cost,
    f.sales_amount,
    f.tax_amt,
    f.freight,
    (f.order_date + ((SELECT years_difference FROM years_dif)::TEXT || ' years')::INTERVAL)::DATE AS order_date,
    (f.due_date + ((SELECT years_difference FROM years_dif)::TEXT || ' years')::INTERVAL)::DATE AS due_date,
    (f.ship_date + ((SELECT years_difference FROM years_dif)::TEXT || ' years')::INTERVAL)::DATE AS ship_date,

    -- PRODUCT fields
    p.spanish_product_name,
    p.english_product_name,
    p_c.spanish_product_category_name,
    p_c.english_product_category_name,
    p_sc.spanish_product_subcategory_name,
    p_sc.english_product_subcategory_name,

    -- CUSTOMER fields
    c.customer_key,
    CONCAT(c.first_name, ' ', c.last_name) AS customer_full_name,
    c.marital_status AS customer_marital_status,
    c.gender AS customer_gender,
    c.total_children AS customer_total_children,
    c.number_children_at_home AS customer_number_children_at_home,

    -- RESELLER fields
    r.reseller_key,
    r.business_type AS reseller_business_type,
    r.reseller_name,
    r.product_line AS reseller_product_line,

    -- EMPLOYEE fields
    e.employee_key,
    CONCAT(e.first_name, ' ', e.last_name) AS employee_full_name,

    -- GEOGRAPHICAL fields
    g.city AS sales_territory_city,
    g.state_province_name AS sales_territory_state_province,
    (
        CASE
            WHEN st.sales_territory_country = st.sales_territory_region THEN st.sales_territory_region
            ELSE CONCAT(st.sales_territory_country, ' - ', st.sales_territory_region)
        END
    ) AS sales_territory_region,
    g.spanish_country_region_name AS sales_territory_country,
    st.sales_territory_group

FROM
    all_sales AS f

    -- join PRODUCT dimensions
    INNER JOIN adventure_works.dim_product AS p USING (product_key)
    INNER JOIN adventure_works.dim_product_subcategory AS p_sc USING (product_subcategory_key)
    INNER JOIN adventure_works.dim_product_category AS p_c USING (product_category_key)

    -- join CUSTOMER dimensions
    LEFT JOIN adventure_works.dim_customer AS c USING (customer_key)

    -- join RESELLER dimensions
    LEFT JOIN adventure_works.dim_reseller AS r USING (reseller_key)

    -- join EMPLOYEE dimensions
    LEFT JOIN adventure_works.dim_employee AS e USING (employee_key)

    -- join GEOGRAPHICAL dimensions
    INNER JOIN adventure_works.dim_sales_territory AS st ON (
        st.sales_territory_key = f.sales_territory_key
    )
    INNER JOIN adventure_works.dim_geography AS g ON (
        g.geography_key = COALESCE(c.geography_key, r.geography_key)
    )
);

,sale_source,sales_order_number,sales_order_line_number,order_quantity,unit_price,extended_amount,unit_price_discount_pct,discount_amount,product_standard_cost,total_product_cost,sales_amount,tax_amt,freight,order_date,due_date,ship_date,spanish_product_name,english_product_name,spanish_product_category_name,english_product_category_name,spanish_product_subcategory_name,english_product_subcategory_name,customer_key,customer_full_name,customer_marital_status,customer_gender,customer_total_children,customer_number_children_at_home,reseller_key,reseller_business_type,reseller_name,reseller_product_line,employee_key,employee_full_name,sales_territory_city,sales_territory_state_province,sales_territory_region,sales_territory_country,sales_territory_group
0,reseller_sales,SO44124,14,1,20.1865,20.1865,0.0,0.0,12.0278,12.0278,20.1865,1.6149,0.5047,2023-03-01,2023-03-13,2023-03-08,"Casco deportivo: 100, rojo","Sport-100 Helmet, Red",Accesorio,Accessories,Casco,Helmets,None,,None,None,None,None,3,Warehouse,Advanced Bike Components,Road,283,Jillian Carson,Irving,Texas,United States - Southwest,Estados Unidos,North America
1,reseller_sales,SO45568,11,3,20.1865,60.5595,0.0,0.0,12.0278,36.0834,60.5595,4.8448,1.5140,2023-08-29,2023-09-10,2023-09-05,"Casco deportivo: 100, rojo","Sport-100 Helmet, Red",Accesorio,Accessories,Casco,Helmets,None,,None,None,None,None,3,Warehouse,Advanced Bike Components,Road,283,Jillian Carson,Irving,Texas,United States - Southwest,Estados Unidos,North America
2,reseller_sales,SO46377,2,1,20.1865,20.1865,0.0,0.0,12.0278,12.0278,20.1865,1.6149,0.5047,2023-11-29,2023-12-11,2023-12-06,"Casco deportivo: 100, rojo","Sport-100 Helmet, Red",Accesorio,Accessories,Casco,Helmets,None,,None,None,None,None,3,Warehouse,Advanced Bike Components,Road,283,Jillian Carson,Irving,Texas,United States - Southwest,Estados Unidos,North America
3,reseller_sales,SO43913,10,5,20.1865,100.9325,0.0,0.0,12.0278,60.1390,100.9325,8.0746,2.5233,2023-01-29,2023-02-10,2023-02-05,"Casco deportivo: 100, rojo","Sport-100 Helmet, Red",Accesorio,Accessories,Casco,Helmets,None,,None,None,None,None,40,Value Added Reseller,Journey Sporting Goods,Mountain,283,Jillian Carson,Laredo,Texas,United States - Southwest,Estados Unidos,North America
4,reseller_sales,SO44566,13,2,20.1865,40.3730,0.0,0.0,12.0278,24.0556,40.3730,3.2298,1.0093,2023-05-01,2023-05-13,2023-05-08,"Casco deportivo: 100, rojo","Sport-100 Helmet, Red",Accesorio,Accessories,Casco,Helmets,None,,None,None,None,None,40,Value Added Reseller,Journey Sporting Goods,Mountain,283,Jillian Carson,Laredo,Texas,United States - Southwest,Estados Unidos,North America
5,reseller_sales,SO46103,1,2,20.1865,40.3730,0.0,0.0,12.0278,24.0556,40.3730,3.2298,1.0093,2023-10-29,2023-11-10,2023-11-05,"Casco deportivo: 100, rojo","Sport-100 Helmet, Red",Accesorio,Accessories,Casco,Helmets,None,,None,None,None,None,40,Value Added Reseller,Journey Sporting Goods,Mountain,283,Jillian Carson,Laredo,Texas,United States - Southwest,Estados Unidos,North America
6,reseller_sales,SO46099,13,2,20.1865,40.3730,0.0,0.0,12.0278,24.0556,40.3730,3.2298,1.0093,2023-10-29,2023-11-10,2023-11-05,"Casco deportivo: 100, rojo","Sport-100 Helmet, Red",Accesorio,Accessories,Casco,Helmets,None,,None,None,None,None,45,Warehouse,Every Bike Shop,Road,285,Tsvi Reiter,La Vergne,Tennessee,United States - Southeast,Estados Unidos,North America
7,reseller_sales,SO44129,16,2,20.1865,40.3730,0.0,0.0,12.0278,24.0556,40.3730,3.2298,1.0093,2023-03-01,2023-03-13,2023-03-08,"Casco deportivo: 100, rojo","Sport-100 Helmet, Red",Accesorio,Accessories,Casco,Helmets,None,,None,None,None,None,54,Warehouse,Larger Cycle Shop,Road,281,Michael Blythe,Melville,New York,United States - Northeast,Estados Unidos,North America
8,reseller_sales,SO44797,32,3,20.1865,60.5595,0.0,0.0,12.0278,36.0834,60.5595,4.8448,1.5140,2023-05-31,2023-06-12,2023-06-07,"Casco deportivo: 100, rojo","Sport-100 Helmet, Red",Accesorio,Accessories,Casco,Helmets,None,,None,None,None,None,54,Warehouse,Larger Cycle Shop,Road,281,Michael Blythe,Melville,New York,United States - Northeast,Estados Unidos,North America
9,reseller_sales,SO45575,17,2,20.1865,40.3730,0.0,0.0,12.0278,24.0556,40.3730,3.2298,1.0093,2023-08-29,2023-09-10,2023-09-05,"Casco deportivo: 100, rojo","Sport-100 Helmet, Red",Accesorio,Accessories,Casco,Helmets,None,,None,None,None,None,54,Warehouse,Larger Cycle Shop,Road,281,Michael Blythe,Melville,New York,United States - Northeast,Estados Unidos,North America

### Esquema de Ventas Reducido (Sales)

Para este esquema, utilizaremos los scripts almacenados en el directorio `/data/database/postgres/reduced_schemas/sales`, que nos permitirán tanto crear las que componen el esquema, como así también, configurar las `PRIMARY KEY` y `FOREIGN KEY` de cada tabla. Adicionalmente, debemos ejecutar algunos comandos previos para asegurarnos la existencia de un nuevo esquema en blanco.

In [4]:
SALES_SCHEMA = 'sales'
SALES_SCHEMA_TABLES_PATH = '../data/database/postgres/reduced_schemas/sales/'
SALES_SCHEMA_TABLES_PREFIXES = ['fact_', 'dim_']

commands_sales_schema = []
commands_sales_schema.append(f'DROP SCHEMA IF EXISTS {SALES_SCHEMA} CASCADE;')
commands_sales_schema.append(f'CREATE SCHEMA {SALES_SCHEMA};')

for file in Path(SALES_SCHEMA_TABLES_PATH).iterdir():
    if file.is_file() and file.suffix == '.sql' and any(
        file.name.startswith(prefix) for prefix in SALES_SCHEMA_TABLES_PREFIXES
    ):
        table_query = Path(file).read_text()
        table_name = '.'.join(file.name.split('.')[:-1])
        commands_sales_schema.append(get_create_table_as(table_query, SALES_SCHEMA, table_name))


for file in Path(SALES_SCHEMA_TABLES_PATH).iterdir():
    if file.is_file() and file.suffix == '.sql' and not any(
        file.name.startswith(prefix) for prefix in SALES_SCHEMA_TABLES_PREFIXES
    ):
        with open(file.as_posix(), 'r') as sql_file:
            for line in sql_file:
                line = line.strip()

                if not line:
                    continue

                command = line.replace('[SCHEMA]', SALES_SCHEMA)
                if not command.endswith(';'):
                    command += ';'

                commands_sales_schema.append(command)

execute_commands(commands_sales_schema, port=5432)

query_resulst = execute_query(
    f'SELECT * FROM {SALES_SCHEMA}.dim_sales_territory',
    port= 5432
)

display(pd.DataFrame(query_resulst))

The following command was executed sucessfully:
DROP SCHEMA IF EXISTS sales CASCADE;

The following command was executed sucessfully:
CREATE SCHEMA sales;

The following command was executed sucessfully:
CREATE TABLE sales.dim_customer AS (
WITH
    years_dif AS (
        SELECT
            (EXTRACT(YEAR FROM CURRENT_DATE) - EXTRACT(YEAR FROM MAX(order_date))) + 1 AS years_difference

        FROM (
            SELECT order_date FROM adventure_works.fact_internet_sales
            UNION
            SELECT order_date FROM adventure_works.fact_reseller_sales
        )
    )


SELECT
    customer_key,
    geography_key,
    -- customer_alternate_key,
    -- title,
    -- first_name,
    -- middle_name,
    -- last_name,
    -- name_style,
    CONCAT(first_name, ' ', last_name) AS customer_full_name,
    (birth_date + ((SELECT years_difference FROM years_dif)::TEXT || ' years')::INTERVAL)::DATE AS birth_date,
    marital_status,
    -- suffix,
    gender,
    -- email_address,
    yearly_income,
    total_children,
    number_children_at_home,
    english_education,
    spanish_education,
    -- french_education,
    english_occupation,
    spanish_occupation,
    -- french_occupation,
    (house_owner_flag = '1') AS house_owner,
    number_cars_owned,
    -- address_line1,
    -- address_line2,
    -- phone,
    -- date_first_purchase,
    commute_distance

FROM
    adventure_works.dim_customer
);

The following command was executed sucessfully:
CREATE TABLE sales.dim_geography AS (
SELECT
    geography_key,
    city,
    state_province_code,
    state_province_name,
    country_region_code,
    english_country_region_name,
    spanish_country_region_name,
    -- french_country_region_name,
    postal_code,
    sales_territory_key
    -- ip_address_locator

FROM
    adventure_works.dim_geography
);

The following command was executed sucessfully:
CREATE TABLE sales.dim_product AS (
WITH
    years_dif AS (
        SELECT
            (EXTRACT(YEAR FROM CURRENT_DATE) - EXTRACT(YEAR FROM MAX(order_date))) + 1 AS years_difference

        FROM (
            SELECT order_date FROM adventure_works.fact_internet_sales
            UNION
            SELECT order_date FROM adventure_works.fact_reseller_sales
        )
    )


SELECT
    p.product_key,
    -- p.product_alternate_key,
    -- p.product_subcategory_key,
    p.weight_unit_measure_code,
    p.size_unit_measure_code,
    p.english_product_name,
    p.spanish_product_name,
    -- p.french_product_name,
    p.standard_cost,
    p.finished_goods_flag,
    p.color,
    p.safety_stock_level,
    p.reorder_point,
    p.list_price,
    p.size,
    p.size_range,
    p.weight,
    p.days_to_manufacture,
    p.product_line,
    p.dealer_price,
    p.class,
    p.style,
    p.model_name,
    -- p.large_photo,
    p.english_description,
    -- p.french_description,
    -- p.chinese_description,
    -- p.arabic_description,
    -- p.hebrew_description,
    -- p.thai_description,
    -- p.german_description,
    -- p.japanese_description,
    -- p.turkish_description,
    (p.start_date + ((SELECT years_difference FROM years_dif)::TEXT || ' years')::INTERVAL)::DATE AS start_date,
    (p.end_date + ((SELECT years_difference FROM years_dif)::TEXT || ' years')::INTERVAL)::DATE AS end_date,
    (
        CASE
            WHEN p.status IS NULL THEN False
            ELSE True
        END
    ) AS active,

    -- p_sc.product_subcategory_key,
    -- p_sc.product_subcategory_alternate_key,
    p_sc.english_product_subcategory_name,
    p_sc.spanish_product_subcategory_name,
    -- p_sc.french_product_subcategory_name,
    -- p_sc.product_category_key,

    -- p_c.product_category_key,
    -- p_c.product_category_alternate_key,
    p_c.english_product_category_name,
    p_c.spanish_product_category_name
    -- p_c.french_product_category_name

FROM
    adventure_works.dim_product AS p
    LEFT JOIN adventure_works.dim_product_subcategory AS p_sc USING (product_subcategory_key)
    LEFT JOIN adventure_works.dim_product_category AS p_c USING (product_category_key)

WHERE
    EXISTS (
        SELECT
            1
        FROM (
                SELECT product_key FROM adventure_works.fact_internet_sales
                UNION
                SELECT product_key FROM adventure_works.fact_reseller_sales
            ) AS fact
        WHERE
            fact.product_key = p.product_key
    )
);

The following command was executed sucessfully:
CREATE TABLE sales.dim_promotion AS (
WITH
    years_dif AS (
        SELECT
            (EXTRACT(YEAR FROM CURRENT_DATE) - EXTRACT(YEAR FROM MAX(order_date))) + 1 AS years_difference

        FROM (
            SELECT order_date FROM adventure_works.fact_internet_sales
            UNION
            SELECT order_date FROM adventure_works.fact_reseller_sales
        )
    )


SELECT
    promotion_key,
    -- promotion_alternate_key,
    english_promotion_name,
    spanish_promotion_name,
    -- french_promotion_name,
    discount_pct,
    english_promotion_type,
    spanish_promotion_type,
    -- french_promotion_type,
    english_promotion_category,
    spanish_promotion_category,
    -- french_promotion_category,
    (
        CASE discount_pct
            WHEN 0 THEN NULL
            ELSE (start_date + ((SELECT years_difference FROM years_dif)::TEXT || ' years')::INTERVAL)::DATE
        END
    ) AS start_date,
    (
        CASE discount_pct
            WHEN 0 THEN NULL
            ELSE (end_date + ((SELECT years_difference FROM years_dif)::TEXT || ' years')::INTERVAL)::DATE
        END
    ) AS end_date,
    min_qty,
    max_qty

FROM
    adventure_works.dim_promotion
);

The following command was executed sucessfully:
CREATE TABLE sales.dim_reseller AS (
WITH
    years_dif AS (
        SELECT
            (EXTRACT(YEAR FROM CURRENT_DATE) - EXTRACT(YEAR FROM MAX(order_date))) + 1 AS years_difference

        FROM (
            SELECT order_date FROM adventure_works.fact_internet_sales
            UNION
            SELECT order_date FROM adventure_works.fact_reseller_sales
        )
    )


SELECT
    reseller_key,
    geography_key,
    -- reseller_alternate_key,
    -- phone,
    business_type,
    reseller_name,
    number_employees,
    order_frequency,
    -- order_month,
    first_order_year,
    last_order_year,
    product_line,
    -- address_line1,
    -- address_line2,
    -- annual_sales,
    -- bank_name,
    -- min_payment_type,
    -- min_payment_amount,
    -- annual_revenue,
    (year_opened + (SELECT years_difference FROM years_dif)) AS year_opened

FROM
    adventure_works.dim_reseller
);

The following command was executed sucessfully:
CREATE TABLE sales.dim_sales_person AS (
WITH
    years_dif AS (
        SELECT
            (EXTRACT(YEAR FROM CURRENT_DATE) - EXTRACT(YEAR FROM MAX(order_date))) + 1 AS years_difference

        FROM (
            SELECT order_date FROM adventure_works.fact_internet_sales
            UNION
            SELECT order_date FROM adventure_works.fact_reseller_sales
        )
    )


SELECT
    employee_key,
    -- parent_employee_key,
    -- employee_national_id_alternate_key,
    -- parent_employee_national_id_alternate_key,
    -- sales_territory_key,
    -- first_name,
    -- last_name,
    -- middle_name,
    -- name_style,
    CONCAT(first_name, ' ', last_name) AS employee_full_name,
    title,
    -- hire_date,
    -- birth_date,
    -- login_id,
    -- email_address,
    -- phone,
    -- marital_status,
    -- emergency_contact_name,
    -- emergency_contact_phone,
    -- salaried_flag,
    gender,
    -- pay_frequency,
    -- base_rate,
    -- vacation_hours,
    -- sick_leave_hours,
    -- current_flag,
    sales_person_flag
    -- department_name,
    -- start_date,
    -- end_date,
    -- status,
    -- employee_photo

FROM
    adventure_works.dim_employee

WHERE
    sales_person_flag
);

The following command was executed sucessfully:
CREATE TABLE sales.dim_sales_reason AS (
SELECT
    sales_reason_key,
    -- sales_reason_alternate_key,
    sales_reason_name,
    sales_reason_reason_type

FROM
    adventure_works.dim_sales_reason
);

The following command was executed sucessfully:
CREATE TABLE sales.dim_sales_territory AS (
SELECT
    sales_territory_key,
    -- sales_territory_alternate_key,
    sales_territory_region,
    sales_territory_country,
    sales_territory_group
    -- sales_territory_image

FROM
    adventure_works.dim_sales_territory
);

The following command was executed sucessfully:
CREATE TABLE sales.fact_internet_sales_reason AS (
SELECT
    sales_order_number,
    sales_order_line_number,
    sales_reason_key

FROM
    adventure_works.fact_internet_sales_reason
);

The following command was executed sucessfully:
CREATE TABLE sales.fact_sales AS (
WITH
    years_dif AS (
        SELECT
            (EXTRACT(YEAR FROM CURRENT_DATE) - EXTRACT(YEAR FROM MAX(order_date))) + 1 AS years_difference

        FROM (
            SELECT order_date FROM adventure_works.fact_internet_sales
            UNION
            SELECT order_date FROM adventure_works.fact_reseller_sales
        )
    )



(
    SELECT
        product_key,
        -- order_date_key,
        -- due_date_key,
        -- ship_date_key,
        NULL AS reseller_key,
        NULL AS employee_key,
        customer_key,
        promotion_key,
        -- currency_key,
        sales_territory_key,
        sales_order_number,
        sales_order_line_number,
        -- revision_number,
        order_quantity,
        unit_price,
        extended_amount,
        unit_price_discount_pct,
        discount_amount,
        product_standard_cost,
        total_product_cost,
        sales_amount,
        tax_amt,
        freight,
        -- carrier_tracking_number,
        -- customer_po_number,
        (order_date + ((SELECT years_difference FROM years_dif)::TEXT || ' years')::INTERVAL)::DATE AS order_date,
        (due_date + ((SELECT years_difference FROM years_dif)::TEXT || ' years')::INTERVAL)::DATE AS due_date,
        (ship_date + ((SELECT years_difference FROM years_dif)::TEXT || ' years')::INTERVAL)::DATE AS ship_date,
        'internet_sales' AS sale_source

    FROM
        adventure_works.fact_internet_sales
)

UNION

(
    SELECT
        product_key,
        -- order_date_key,
        -- due_date_key,
        -- ship_date_key,
        reseller_key,
        employee_key,
        NULL AS customer_key,
        promotion_key,
        -- currency_key,
        sales_territory_key,
        sales_order_number,
        sales_order_line_number,
        -- revision_number,
        order_quantity,
        unit_price,
        extended_amount,
        unit_price_discount_pct,
        discount_amount,
        product_standard_cost,
        total_product_cost,
        sales_amount,
        tax_amt,
        freight,
        -- carrier_tracking_number,
        -- customer_po_number,
        (order_date + ((SELECT years_difference FROM years_dif)::TEXT || ' years')::INTERVAL)::DATE AS order_date,
        (due_date + ((SELECT years_difference FROM years_dif)::TEXT || ' years')::INTERVAL)::DATE AS due_date,
        (ship_date + ((SELECT years_difference FROM years_dif)::TEXT || ' years')::INTERVAL)::DATE AS ship_date,
        'reseller_sales' AS sale_source

    FROM
        adventure_works.fact_reseller_sales
)
);

The following command was executed sucessfully:
ALTER TABLE sales.dim_customer ADD PRIMARY KEY (customer_key);

The following command was executed sucessfully:
ALTER TABLE sales.dim_sales_person ADD PRIMARY KEY (employee_key);

The following command was executed sucessfully:
ALTER TABLE sales.dim_geography ADD PRIMARY KEY (geography_key);

The following command was executed sucessfully:
ALTER TABLE sales.dim_product ADD PRIMARY KEY (product_key);

The following command was executed sucessfully:
ALTER TABLE sales.dim_promotion ADD PRIMARY KEY (promotion_key);

The following command was executed sucessfully:
ALTER TABLE sales.dim_reseller ADD PRIMARY KEY (reseller_key);

The following command was executed sucessfully:
ALTER TABLE sales.dim_sales_reason ADD PRIMARY KEY (sales_reason_key);

The following command was executed sucessfully:
ALTER TABLE sales.dim_sales_territory ADD PRIMARY KEY (sales_territory_key);

The following command was executed sucessfully:
ALTER TABLE sales.fact_sales ADD PRIMARY KEY (sales_order_number, sales_order_line_number);

The following command was executed sucessfully:
ALTER TABLE sales.fact_internet_sales_reason ADD PRIMARY KEY (sales_order_number, sales_order_line_number, sales_reason_key);

The following command was executed sucessfully:
ALTER TABLE sales.dim_customer ADD CONSTRAINT fk_dim_customer_geography FOREIGN KEY (geography_key) REFERENCES sales.dim_geography (geography_key);

The following command was executed sucessfully:
ALTER TABLE sales.dim_geography ADD CONSTRAINT fk_dim_geography_sales_territory FOREIGN KEY (sales_territory_key) REFERENCES sales.dim_sales_territory (sales_territory_key);

The following command was executed sucessfully:
ALTER TABLE sales.dim_reseller ADD CONSTRAINT fk_dim_reseller_geography FOREIGN KEY (geography_key) REFERENCES sales.dim_geography (geography_key);

The following command was executed sucessfully:
ALTER TABLE sales.fact_sales ADD CONSTRAINT fk_fact_sales_person FOREIGN KEY (employee_key) REFERENCES sales.dim_sales_person (employee_key);

The following command was executed sucessfully:
ALTER TABLE sales.fact_sales ADD CONSTRAINT fk_fact_sales_reseller FOREIGN KEY (reseller_key) REFERENCES sales.dim_reseller (reseller_key);

The following command was executed sucessfully:
ALTER TABLE sales.fact_sales ADD CONSTRAINT fk_fact_sales_customer FOREIGN KEY (customer_key) REFERENCES sales.dim_customer (customer_key);

The following command was executed sucessfully:
ALTER TABLE sales.fact_sales ADD CONSTRAINT fk_fact_sales_product FOREIGN KEY (product_key) REFERENCES sales.dim_product (product_key);

The following command was executed sucessfully:
ALTER TABLE sales.fact_sales ADD CONSTRAINT fk_fact_sales_promotion FOREIGN KEY (promotion_key) REFERENCES sales.dim_promotion (promotion_key);

The following command was executed sucessfully:
ALTER TABLE sales.fact_sales ADD CONSTRAINT fk_fact_sales_sales_territory FOREIGN KEY (sales_territory_key) REFERENCES sales.dim_sales_territory (sales_territory_key);

The following command was executed sucessfully:
ALTER TABLE sales.fact_internet_sales_reason ADD CONSTRAINT fk_fact_internet_sales_reason_fact_sales FOREIGN KEY (sales_order_number, sales_order_line_number) REFERENCES sales.fact_sales (sales_order_number, sales_order_line_number);

The following command was executed sucessfully:
ALTER TABLE sales.fact_internet_sales_reason ADD CONSTRAINT fk_fact_internet_sales_reason_sales_reason FOREIGN KEY (sales_reason_key) REFERENCES sales.dim_sales_reason (sales_reason_key);

,sales_territory_key,sales_territory_region,sales_territory_country,sales_territory_group
0,1,Northwest,United States,North America
1,2,Northeast,United States,North America
2,3,Central,United States,North America
3,4,Southwest,United States,North America
4,5,Southeast,United States,North America
5,6,Canada,Canada,North America
6,7,France,France,Europe
7,8,Germany,Germany,Europe
8,9,Australia,Australia,Pacific
9,10,United Kingdom,United Kingdom,Europe
10,11,NA,NA,NA